body {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    border-radius: 2px;
    margin-bottom: 2px;
}

.info-success {
    background-color: #1B5E20;
}

.info-failure {
    background-color: #C51162;
}
.info-text {
    color: #fff;
}

.btn-kill {
    margin-top: 10px;
}